<log4net>
  <root>
    <level value="INFO" />

    <appender-ref ref="ElasticSearchAppender" />
  </root>
  <appender name="ElasticSearchAppender" type="log4stash.ElasticSearchAppender, log4stash">
    <Server>localhost</Server>
    <Port>9200</Port>
    <IndexName>systemtest-app-%{+yyyy-MM-dd}</IndexName>
    <IndexType>LogEvent</IndexType>
    <Bulksize>100</Bulksize>
    <BulkIdleTimeout>5000</BulkIdleTimeout>
    <IndexAsync>False</IndexAsync>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR" />
    </evaluator>
    <!-- for more information read about log4net.Core.FixFlags -->
    <FixedFields>Partial</FixedFields>
    <ElasticFilters>
      <Add>
        <Key>sitename</Key>
        <Value>systemtest-engage-no-www</Value>
      </Add>
    </ElasticFilters>
  </appender>
</log4net>